<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Dato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="dato; else elseTemplate">
    <ion-card-header>
      <ion-card-subtitle>Datos actuales del Modulo</ion-card-subtitle>
      <ion-card-title>Datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item>
              <ion-icon slot="start" name="calendar"></ion-icon>
              <ion-label>Fecha:</ion-label>
              <ion-text color="primary" slot="end">
                  {{ dato.fecha | date: 'dd/MM/yyyy' }}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="sunny"></ion-icon>
              <ion-label>Luz:</ion-label>
              <ion-text color="primary" slot="end">
                  {{ dato.luz }}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="color-fill"></ion-icon>
              <ion-label>Ph:</ion-label>
              <ion-text color="primary" slot="end">
                  {{ dato.ph}}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="flask"></ion-icon>
              <ion-label>Solucion:</ion-label>
              <ion-text color="primary" slot="end">
                  {{ dato.solucion}}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="thermometer"></ion-icon>
              <ion-label>Temperatura:</ion-label>
              <ion-text color="primary" slot="end">
                  {{ dato.temperatura}}
              </ion-text>
            </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="dato">
      <ion-card-header>
        <ion-card-subtitle>Grafico</ion-card-subtitle>
        <ion-card-title>medidas actuales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="flex">
          <div class="flex-item">
            <div style="display: block;">
            <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        [chartType]="lineChartType">
            </canvas>
            </div>
          </div>
        </div>
      </ion-card-content>
  </ion-card>
  <ng-template #elseTemplate>
    <ion-card color="warning">
      <ion-card-header>
        <ion-card-subtitle>No hay datos disponibles</ion-card-subtitle>
        <ion-card-title>Modulo</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
  
</ion-content>
