<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title color="primary">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div>
          <img style="max-height: 180px; width: 100%;" src="assets/logo.jpg" alt="">
        </div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon color="primary" slot="start" [name]="p.icon" ></ion-icon>
              <ion-label color="primary">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
