<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment (ionChange)="segmentChanged($event)" mode="md" scrollable>
        <ion-segment-button value="temperatura" mode="md" checked>
          <ion-label>Temperatura</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ph" mode="md">
          <ion-label>Ph</ion-label>
        </ion-segment-button>
        <ion-segment-button value="humedad" mode="md">
          <ion-label>Humedad</ion-label>
        </ion-segment-button>
        <ion-segment-button value="luz" mode="md">
          <ion-label>Luz</ion-label>
        </ion-segment-button>
      </ion-segment>
  <ng-container *ngIf="modulo.length; else elseTemplate">
    <ion-virtual-scroll [items]="modulo">
      <ion-item *virtualItem="let item">
          <ion-card (click)="presentActionSheet(item)">
              <ion-card-content>
                  <ion-item>
                    <ion-thumbnail slot="start">
                        <img src="assets/information.svg" alt="" srcset="">
                    </ion-thumbnail>
                      <ion-label>
                        <h2>{{ item.nombre }}</h2>
                        <h3>{{ item.tipo }}</h3>
                        <p>{{ item.descripcion }}</p>
                      </ion-label>
                    </ion-item>
              </ion-card-content>
            </ion-card>
      </ion-item>
    </ion-virtual-scroll>
  </ng-container>
  <ng-template #elseTemplate>
    <ion-card>
      <ion-card-content>
          <ion-item>
              <ion-thumbnail slot="start">
                  <img src="assets/information.svg" alt="" srcset="">
              </ion-thumbnail>
                <ion-label>
                  <h2>No Encontrado</h2>
                  
                </ion-label>
              </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-template>
      
  
  
</ion-content>
