<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hidroponias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of hidroponia" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>{{item.calle}}</ion-card-subtitle>
      <ion-card-title>{{item.zona}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="irPagina(item)" color="primary" fill="outline">
        Ver
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
